<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXYV_Fw6Wce4AppQ4X6stecAcUMT1IE74</string>
	<key>GCM_SENDER_ID</key>
	<string>111938965947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wffmst.cqb.member</string>
	<key>PROJECT_ID</key>
	<string>cqb-wffmst</string>
	<key>STORAGE_BUCKET</key>
	<string>cqb-wffmst.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:111938965947:ios:2a3c04c448a456fda1349e</string>
</dict>
</plist>